.footer{
    background-color: #00164D;
    color: white;
}
.footer-wrapper{
    height: 250px;
    display:  flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-wrapper img{
    width: 150px;
    margin-bottom: -10px;
}

i{
    padding-right: 5px;
    color: #E4B945;
}